<p>car works!</p>

<p>This component demonstrates fetching Car List from the server.</p>
<h1><a [routerLink]="['/caradd']">New</a></h1>
<p *ngIf="!cars?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="cars.length">
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Year</th>
      <th>Price</th>
      <th>Color</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td>{{ car.id }}</td>
      <td>{{ car.name }}</td>
      <td>{{ car.year }}</td>
      <td>{{ car.price }}</td>
      <td>{{ car.color }}</td>
      <td><a [routerLink]="['/caredit', car.id]">Update</a></td>
      <td><a [routerLink]="['/cardelete', car.id]">Delete</a></td>
    </tr>
  </tbody>
</table>

<!-- //   id: "",
//   name: "",
//   year: "",
//   price: 0,
//   color: "",
//   modelId: 1, -->