<p>model-add works!</p>

<div class="model-add">
    <h1>Add a new One!</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
          <mat-label>Make:</mat-label>
          <mat-select formControlName="makeId">
            <mat-option matInput *ngFor="let make of makes" value="{{make.id}}">{{make.name}}</mat-option>
          </mat-select>
      </mat-form-field>
      <!-- Name -->
      <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput formControlName="name" placeholder="Type a name">
      </mat-form-field>
      <!-- sales -->
      <mat-form-field>
        <mat-label>
          Sales:
        </mat-label>
        <input matInput formControlName="sales" placeholder="Country of the Model">
      </mat-form-field>
      <!-- description -->
      <mat-form-field>
        <mat-label>
          Description
        </mat-label>
        <input matInput formControlName="description" placeholder="Description of the model">
      </mat-form-field>
      <div>
        <button mat-flat-button color="primary" type="submit">Save
        </button>
        <button mat-flat-button color="secondary" [routerLink]="['/model']">
          Cancel
        </button>
      </div>
    </form>
  </div>