<p>model-edit works!</p>
<div class="model-edit">
    <h1>Edit</h1>
    <p *ngIf="this.id && !model"><em>Loading...</em></p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Name -->
      <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput formControlName="name" placeholder="Type a name">
      </mat-form-field>
      <!-- Sales -->
      <mat-form-field>
        <mat-label>
          Sales:
        </mat-label>
        <input matInput formControlName="sales" placeholder="Sales of this Model1">
      </mat-form-field>
      <!-- Description -->
      <mat-form-field>
        <mat-label>
          Description
        </mat-label>
        <input matInput formControlName="description" placeholder="Description of the model">
      </mat-form-field>

      <div>
        <button mat-flat-button color="primary" type="submit">Save
        </button>
        <button mat-flat-button color="secondary" [routerLink]="['/model']">
          Cancel
        </button>
      </div>
    </form>
  </div>