<header>
  <mat-toolbar color="primary">
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon>man</mat-icon>
    </button>
    
    <a mat-flat-button color="primary" [routerLink]="['/counter']">Counter</a>
    &nbsp;
    <a mat-flat-button color="primary" [routerLink]="['/fetch-data']">Fetch Data</a>
    &nbsp;
    <a mat-flat-button color="primary" [routerLink]="['/make']">Make</a>
    &nbsp;
    <a mat-flat-button color="primary" [routerLink]="['/model']">Model</a>
    &nbsp;
    <a mat-flat-button color="primary" [routerLink]="['/car']">Car</a>
  </mat-toolbar>
</header>
